<footer class="it-footer">
  <div class="it-footer-small-prints clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12 my-3">
                <center>
                <span class="d-inline-block"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a></span>
                <span class="d-inline-block"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Quest'opera è distribuita con Licenza Creative Commons Attribuzione - Condividi allo stesso modo 4.0 Internazionale</a>.</span>
            </div>
        </div>
    </div>
  </div>
</footer>
