    <header class="it-header-wrapper it-header-sticky">

  <div class="it-nav-wrapper">
    <div class="it-header-center-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="it-header-center-content-wrapper">
              <div class="it-brand-wrapper">
                <a href="#">
                  <img class="icon" alt="logo astrofili centesi" src="apple-icon.png"></img>
                  <div class="it-brand-text">
                    <div class="it-brand-title">Astrofili Centesi</div>
                  </div>
                </a>
              </div>
              <div class="it-right-zone">
                <div class="it-socials d-none d-md-flex">
                  <span>Seguici su</span>
                  <ul>
                    <li>
                      <a href="https://www.facebook.com/Associazione-Astrofili-Centesi-198990496786704" aria-label="Facebook" target="_blank">
                        <svg class="icon">
                          <use href="{{site.baseurl}}/assets/svg/sprite.svg#it-facebook"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/Astrofili-Centesi" aria-label="Github" target="_blank">
                        <svg class="icon">
                          <use href="{{site.baseurl}}/assets/svg/sprite.svg#it-github"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="it-header-navbar-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-lg has-megamenu">
              <button
                aria-controls="nav10"
                aria-expanded="false"
                aria-label="Toggle navigation"
                class="custom-navbar-toggler"
                data-target="#nav10"
                type="button"
              >
                <svg class="icon">
                  <use xlink:href="{{site.baseurl}}/assets/svg/sprite.svg#it-burger"></use>
                </svg>
              </button>
              <div class="navbar-collapsable" id="nav10">
                <div class="overlay"></div>
                <div class="close-div sr-only">
                  <button class="btn close-menu" type="button"><span class="it-close"></span>close</button>
                </div>
                <div class="menu-wrapper">
                  <ul class="navbar-nav">
                    <li class="nav-item ">
                      <a class="nav-link " href="/">
                        <span>Home</span>
                        
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
