

<div class="it-header-center-wrapper it-small-header it-header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-header-center-content-wrapper">
          <div class="it-brand-wrapper">
            <a href="{{site.baseurl}}">
                  <img class="icon" alt="logo astrofili centesi" src="{{site.baseurl}}/apple-icon.png"></img>
              <div class="it-brand-text">
                <div class="it-brand-title">Astrofili Centesi</div>
                <div class="it-brand-tagline d-none d-md-block">Sistema Helios - Osservatorio Astronomico di Cento</div>
              </div>
            </a>
          </div>
          <div class="it-right-zone">
            <div class="it-socials d-none d-md-flex">
              <span>Seguici su</span>
              <ul>
                <li>
                      <a href="https://www.facebook.com/Associazione-Astrofili-Centesi-198990496786704" aria-label="Facebook" target="_blank">
                    <svg class="icon">
                      <use href="{{site.baseurl}}/assets/svg/sprites.svg#it-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                      <a href="https://github.com/Astrofili-Centesi" aria-label="Github" target="_blank">
                    <svg class="icon">
                      <use href="{{site.baseurl}}/assets/svg/sprites.svg#it-github"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

