<div class="it-header-center-wrapper it-small-header" data-bs-toggle="sticky">
  <div class="container-xxl">
    <div class="row">
      <div class="col-12">
        <div class="it-header-center-content-wrapper">
          <div class="it-brand-wrapper">
            <a href="{{site.baseurl}}">
              <img class="icon" aria-hidden="true" src="{{site.baseurl}}/apple-icon.png">
            </img>
              <div class="it-brand-text">
                <div class="it-brand-title">Astrofili Centesi</div>
                <div class="it-brand-tagline d-none d-md-block">Sistema Helios - Osservatorio Astronomico di Cento</div>
              </div>
            </a>
          </div>
          <div class="it-right-zone">
            <div class="it-socials d-none d-md-flex">
              <span>Seguici su</span>
              <ul>
                <li>
                  <a href="https://www.facebook.com/Associazione-Astrofili-Centesi-198990496786704" aria-label="Facebook" target="_blank">
                    <svg class="icon">
                      <use href="{{site.baseurl}}/assets/svg/sprites.svg#it-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="https://github.com/Astrofili-Centesi" aria-label="Github" target="_blank">
                    <svg class="icon">
                      <use href="{{site.baseurl}}/assets/svg/sprites.svg#it-github"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="it-header-navbar-wrapper">
  <div class="container-xxl">
    <div class="row">
      <div class="col-12">
        <!--start nav-->
        <nav class="navbar navbar-expand-lg" aria-label="Navigazione principale">
          <button class="custom-navbar-toggler" type="button" aria-controls="nav0" aria-expanded="false" aria-label="Mostra/Nascondi la navigazione" data-bs-toggle="navbarcollapsible" data-bs-target="#nav0">
            <svg class="icon bg-override"><use href="{{site.baseurl}}/assets/svg/sprites.svg#it-burger"></use></svg>
          </button>
          <div class="navbar-collapsable" id="nav0" style="display: none;">
            <div class="overlay" style="display: none;"></div>
            <div class="close-div">
              <button class="btn close-menu" type="button">
                <span class="visually-hidden">Nascondi la navigazione</span>
                <svg class="icon"><use href="{{site.baseurl}}/assets/svg/sprites.svg#it-close-big"></use></svg>
              </button>
            </div>
            <div class="menu-wrapper">
              <ul class="navbar-nav">

                 <!--
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="{{site.baseurl}}/" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="mainNavDropdown0">
                    <span>Helios</span>
                    <svg class="icon icon-xs"><use href="{{site.baseurl}}/assets/svg/sprites.svg#it-expand"></use></svg>
                  </a>
                  <div class="dropdown-menu" role="region" aria-labelledby="mainNavDropdown0">
                    <div class="link-list-wrapper">
                      <ul class="link-list">
                        <li><a class="dropdown-item list-item" href="{{site.baseurl}}/#news"><span>News</span></a></li>
                        <li><span class="divider"></span></li>
                        <li><a class="dropdown-item list-item" href="{{site.baseurl}}/#registrazione-24h"><span>Ultime 24h</span></a></li>
                        <li><a class="dropdown-item list-item" href="{{site.baseurl}}/#magnetometro"><span>Magnetometro</span></a></li>
                        <li><a class="dropdown-item list-item" href="{{site.baseurl}}/#registrazione-due-mesi"><span>Ultimi 2 mesi</span></a></li>
                        <li><a class="dropdown-item list-item" href="{{site.baseurl}}/#spettrogramma"><span>Spettrogramma</span></a></li>

                      </ul>
                    </div>
                  </div>
                </li>
              -->
              <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/"><span>Helios</span></a></li>                
              <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/fftexplore.html"><span>FFT Explorer</span></a></li>                
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
